.head{
   
    position: sticky;
    color: black;
    display: flex;
    text-align:right;
    justify-content:right;
    padding-right: 50px;

}
.btn-primary{
    width: 100%;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}
.btn-primary:hover{
    background-color: orange;
}